
#logo{

}

body{
    background-color: #cccaca;
}

#total-orders{
    background-color: #999999;
}

#orders-delivered{
    background-color: #999999;
}

#orders-pending{
    background-color: #999999;
}
